---

import Layout from "../layouts/Layout.astro"

import CaseStudiesSection from "../components/CaseStudiesSection.astro"
import ClientsSection from "../components/ClientsSection.astro"
import FaqSection from "../components/FaqSection.astro"
import ServicesCarousel from "../components/ServicesCarousel.astro"
import HeroSection from "../components/HeroSection.astro"
import NewsletterSection from "../components/NewsletterSection.astro"
import PricingSection from "../components/PricingSection.astro"
import QuoteSection from "../components/QuoteSection.astro"
import TestimonialsSection from "../components/TestimonialsSection.astro"
import FeaturesSection from "../components/FeaturesSection.astro"
import MobileToolSection from "../components/MobileToolSection.astro"
import ValuePropositionSection from "../components/ValuePropositionSection.astro"
import VideoSection from "../components/VideoSection.astro"
import PartnersSection from "../components/PartnersSection.astro"
import DownloadAppSection from "../components/DownloadAppSection.astro"

import caseStudies from "../data/case_studies.json"
import clients from "../data/clients.json"
import faq from "../data/faq.json"
import services from "../data/services.json"
import home from "../data/home.json"
import pricing from "../data/pricing.json"
import global_settings from "../data/global_settings.json"
import newsletter from "../data/newsletter.json"
import testimonials from "../data/testimonials.json"
import features from "../data/features.json"
import valueProposition from "../data/value_proposition.json"
import partners from "../data/partners.json"

---

<Layout title={ global_settings.title }>

  <HeroSection
    content={ home.hero_content }
    settings={ global_settings }
    title={ home.hero_title }
  />

  <FeaturesSection
    title="Gestione en tiempo real la ejecución del mantenimiento y mejore el rendimiento"
    features={features}
  />

  <MobileToolSection
    title="Herramienta Móvil para el seguimiento del mantenimiento"
    description="<p>Seguimiento desde terreno reportando avances de actividades, demoras, condiciones de seguridad, hitos y hallazgos junto con documentar fotográficamente condiciones de terreno durante la ejecución del mantenimiento, directamente desde el móvil.</p>"
  />

  <ValuePropositionSection
    title="Nuestra propuesta de valor"
    subtitle="Es reducir costos y aumentar la disponibilidad de sus activos"
    values={valueProposition}
  />

  <VideoSection
    title="Conoce nuestra solución"
    videoId="CaBRzKmPOpA"
  />

  <ClientsSection
    clients={ clients }
    title="Entérate por qué nuestros clientes nos eligen"
  />

  <PartnersSection
    partners={partners}
  />

  <DownloadAppSection
    title="Descarga Shutdown App!"
    description="<p>Solicita tu cuenta para pruebas o pilotajes de Shutdown App en tu planta, a través del formulario o directamente a <strong>contacto@shutdown.cl</strong></p>"
    email="contacto@shutdown.cl"
  />

  <FaqSection
    faq={ faq }
    title={ home.faq_title }
  />

</Layout>
